<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>225475369673-cuj5lcopj0ljhm4hgaj5mqorpu6o2slq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225475369673-cuj5lcopj0ljhm4hgaj5mqorpu6o2slq</string>
	<key>API_KEY</key>
	<string>AIzaSyCf5_CcL1x-vY5UhMEchBKv5FQv4pVZCWo</string>
	<key>GCM_SENDER_ID</key>
	<string>225475369673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snoopyking.uber</string>
	<key>PROJECT_ID</key>
	<string>scooter-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>scooter-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225475369673:ios:a9a4d1b87099c13e</string>
	<key>DATABASE_URL</key>
	<string>https://scooter-clone.firebaseio.com</string>
</dict>
</plist>